@import "tailwindcss";

@theme {
  --color-praimary:#131B2E;
  --color-header:#0058BE;
}
@layer base{

h1{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;

  @variant md{
  font-size: 1.875rem;
  line-height: 2.4rem;
  }

  @variant lg{
  font-size: 3.5rem;
  line-height: 5rem;
  }
}

h2{
   font-size: 1rem;
   line-height: 1.25rem;
   font-weight: 650;

   @variant md{
  font-size: 1.5rem;
  line-height: 2rem;
  }

  @variant lg{
  font-size: 2.5rem;
  line-height: 3.125rem;
  }
}

h3{
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 600;
}

h4{
  font-size: 1.5rem;
  line-height: 1.825rem;
  font-weight: 500;
}

h5{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
}

h6{
  font-size: 0.8rem;
  line-height: 1.2rem;
  font-weight: 450;
}

}

@utility row{
    @apply flex items-center;
}

@utility my-container{
    @apply container md:m-auto px-3;
}


@utility center{
    @apply flex justify-between items-center;
}